<html>
<head>
    <title>Play! - Application Configurator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="@{'/public/playmanual/manual.css'}"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="@{'/public/playmanual/wiki.css'}"/>
    <link rel="shortcut icon" type="image/png"
          href="@{'/public/images/favicon.png'}"/>
</head>
<body>
<div class="wrapper">
    <div id="docSideBar">
        <div id="logo">
            <img src="/public/playmanual/logo.png">

            <h2 id="version">PlayConf 0.0.1</h2>
        </div>

        <h2>Configurable files </h2>
        <ul>
            <li><a href="/@playconf">application.conf</a></li>
            <li><a href="/@playconf/messages">messages</a></li>
            <li><a href="/@playconf/routes">routes</a></li>

        </ul>
    </div>
    <div id="pageContent">
        <div id="wikistyle">
            <div id="configurator">
                <h1>Configuration File</h1>

                #{form @save()}

                #{list items:liste, as:'line' }
                #{if line.length == 0}
                <br/>
                #{/if}
                #{elseif line.title}
                <h2>${line.content}</h2>
                #{/elseif}
                #{elseif line.comment}
                <span class="comment">${line.content}</span><br/>
                #{/elseif}
                #{elseif line.key != null && line.value != null}
                <span class="key">${line.key}</span> => <input name="${line.key}" type="text"
                                                               value="${line.value}"/><br/>
                #{/elseif}
                #{/list}

                <input type="submit">
                #{/form}

            </div>
        </div>
    </div>
</div>
</body>
</html>
